<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="ObjectListView.Official" version="2.9.0" targetFramework="net451" />
  <package id="RestSharp" version="105.2.3" targetFramework="net451" />
  <package id="SSH.NET" version="2013.4.7" targetFramework="net40" />
  <package id="taglib" version="2.1.0.0" targetFramework="net451" />
  <package id="TheTVDBApi" version="1.2.0.0" targetFramework="net451" />
  <package id="TMDbLib" version="0.8.3" targetFramework="net451" />
</packages>